.item-tree-configuration1 ul {
    list-style-type: none;
}

$lp-black: #333333;
$lp-white: #FFFFFF;
$lp-green: #8EBA33;
.list-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem .75rem 1.25rem;
    border-bottom: 1px solid lighten($lp-black, 10%);
    .button {
        display: inline-block;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        position: relative;
        text-align: center;
        text-decoration: none;
        z-index: 1;
        color: $lp-black;
        &:hover{
            background-color: lighten($lp-black, 70%);
        }
    }
    &:hover{
        background-color: lighten($lp-green, 90%);
    }
    &.root {
        background-color: $lp-black;
        color: $lp-white;
    }
    &.root:hover {
        background-color: $lp-black;
    }
}

$depths: ("1" : "15px", "2" : "15px", "3" : "30px");
@each $depth, $size in $depths {
    li.list-item.depth-#{$depth} {
        padding-left: #{$size};
    }
}

#page-report-lp-index div.moodle-actionmenu{margin-right:30px;}
table.learner-progress div.achieved {background: #DFF0D8;}
table.learner-progress div.not-achieved {background: #F2DEDE;}
table.learner-progress div.did-not-complete {background: #F2DEDE;}
table.learner-progress > tbody > tr{border-top: 1px solid #ccc;}