.item-tree-configuration ul {
    list-style-type: none;
}


#page-report-lp-index div.filters {
    padding: 15px;
    margin-bottom: 10px;
    border:1px solid transparent;
    border-radius: 4px;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

#page-report-lp-index div.moodle-actionmenu{margin-right:30px;}
table.learner-progress div.achieved {background: #DFF0D8;}
table.learner-progress div.not-achieved {background: #F2DEDE;}
table.learner-progress div.did-not-complete {background: #F2DEDE;}
table.learner-progress > tbody > tr{border-top: 1px solid #ccc;}