@import "utilities";
@import "measure";
@import "print";

$lw-black: #333333;
$lw-white: #FFFFFF;
$lp-green: #8EBA33;
$lw-green: #96C832;

.list-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem .75rem 1.25rem;
    border-bottom: 1px solid lighten($lw-black, 10%);
    .button {
        display: inline-block;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        position: relative;
        text-align: center;
        text-decoration: none;
        z-index: 1;
        color: $lw-green;
        &:hover{
            background-color: lighten($lw-black, 70%);
        }
    }
    &:hover{
        background-color: lighten($lw-green, 90%);
    }
    &.root {
        background-color: $lw-black;
        color: $lw-white;
    }
    &.root:hover {
        background-color: $lw-black;
    }
}
/* Bootstrap - Enhance existing. */
.list-group-item {
    &.header {
        background-color: $lw-black;
        color: $lw-white;
    }
    .fa-toggle-on {
        color: #8EBA33;
    }
    .fa-toggle-off {
        color: #FF0000;
    }
}

li.list-group-item.depth-2 {
    padding-left: (1.25 * 2) + rem;
}

table.report-lp-summary-report td {
    white-space: nowrap;
}

.cell {
    border: 1px solid #ccc;
    padding: 5px;
    white-space: normal;
    vertical-align: middle;
}

.cell-primary-header {
    font-weight: bold;
    background-color: #ececf6;

}

.cell-secondary-header {
    overflow: hidden;
    font-weight: normal;
    text-overflow: ellipsis;
    max-width: 200px;
}

.cell-sm {
    max-width: 100px;
}

.cell-md {
    max-width: 200px;
}

.cell-lg {
    min-width: 300px;
}

.cell-learner--action {
    display: inline-block;
    padding: 5px;
}

$button-body-color: $lw-black;
$padding-y: .375rem;
$padding-x: .75rem;
.button {
    display: inline-block;
    color: $button-body-color;
    text-align: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    background-color: transparent;
    padding: $padding-y $padding-x;
    &:hover {
        color: $button-body-color;
        text-decoration: none;
    }
    &:focus,
    &.focus {
        outline: 0;
    }
}

.alert-excluded-learners{
    //padding: $padding-y;
    font-size: smaller;
    font-weight: bold;
    .learner-list {
        display: inline-block;
    }
}

.report-lp-summary-report {
    .icon {
        margin-right: 0;
    }
    tr:hover {
        background-color: lighten(rgb(150, 200, 50), 20);
        background-color: lighten(rgb(17, 119, 209), 50);
    }

}
