.overflow-visible {
  overflow: visible;
}

.empty-placeholder-image-lg {
  height: 15rem;
}

.measure {
  display: block;
  padding: 0.25em 0.4em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.measure:hover, .measure:focus {
  text-decoration: none;
}
.measure a {
  color: inherit;
}
.measure:empty {
  display: none;
}

.measure--status-achieved, .measure--status-completed {
  color: white;
  background: #218838;
}

.measure--status-not-achieved {
  color: white;
  background: #bd2130;
}

.measure--status-submitted, .measure--status-draft {
  color: black;
  background: #ffc107;
}

.measure--status-reopened {
  color: white;
  background: #7abaff;
}

.measure--status-nosubmission {
  color: black;
}

.card .measure {
  min-width: 200px;
}

@media print {
  @page {
    size: A3 landscape;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
  }
  body {
    height: 100%;
    width: 100%;
  }

  table {
    page-break-inside: avoid;
  }

  header, aside, nav, footer {
    display: none;
  }

  #page {
    margin-top: 0;
  }

  .message-app.drawer, .nav-drawer {
    display: none;
  }
}
.list-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  border-bottom: 1px solid #4d4d4d;
}
.list-item .button {
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  color: #96C832;
}
.list-item .button:hover {
  background-color: #e6e6e6;
}
.list-item:hover {
  background-color: white;
}
.list-item.root {
  background-color: #333333;
  color: #FFFFFF;
}
.list-item.root:hover {
  background-color: #333333;
}

/* Bootstrap - Enhance existing. */
.list-group-item.header {
  background-color: #333333;
  color: #FFFFFF;
}
.list-group-item .fa-toggle-on {
  color: #8EBA33;
}
.list-group-item .fa-toggle-off {
  color: #FF0000;
}

li.list-group-item.depth-2 {
  padding-left: 2.5rem;
}

table.report-lp-summary-report td {
  white-space: nowrap;
}

table.report-lp-summary-report tbody tr.highlighted {
  background-color: #fefbdc;
}

table.report-lp-summary-report tbody tr.highlighted td:first-child {
  background-color: #fefbdc;
}

table.report-lp-summary-report tbody tr td:first-child {
  background: #fff;
  position: sticky;
  left: -1.25rem;
  box-shadow: inset -12px 0 2px -11px rgba(0, 0, 0, 0.5);
}

.cell {
  border: 1px solid #ccc;
  padding: 5px;
  white-space: normal;
  vertical-align: middle;
}

.cell-primary-header {
  font-weight: bold;
  background-color: #ececf6;
}

.cell-secondary-header {
  overflow: hidden;
  font-weight: normal;
  text-overflow: ellipsis;
  max-width: 200px;
}

.cell-sm {
  max-width: 100px;
}

.cell-md {
  max-width: 200px;
}

.cell-lg {
  min-width: 300px;
}

.cell-learner--action {
  display: inline-block;
  padding: 5px;
}

.button {
  display: inline-block;
  color: #333333;
  text-align: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
}
.button:hover {
  color: #333333;
  text-decoration: none;
}
.button:focus, .button.focus {
  outline: 0;
}

.alert-excluded-learners {
  font-size: smaller;
  font-weight: bold;
}
.alert-excluded-learners .learner-list {
  display: inline-block;
}

.report-lp-summary-report .icon {
  margin-right: 0;
}
