<div class="btn btn-group btn-group-sm dropup" role="group" aria-label="Button group with nested dropdown">
    <a href="{{groupingurl}}" class="btn btn-secondary">{{groupingname}}</a>
    <button id="measure-group" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{measuresdropdownname}}
     </button>
    <div class="dropdown-menu" aria-labelledby="measure-group">
    {{#measuresdropdownitems}}
        <a class="dropdown-item" href="{{measureurl}}">{{measurename}}</a>
    {{/measuresdropdownitems}}
    </div>
</div>
