<a href="{{profilelinkurl}}">
    <img src="{{profileimageurl}}" alt="{{profileimagealt}}" class="userpicture defaultuserpic"/>
    {{fullname}}
</a>
{{#enrolmentstatus}}
    <span class="badge badge-pill badge-danger" title="Withdrawn">W</span>
{{/enrolmentstatus}}