{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_lp/summary_report

    This template renders the main content area for the myoverview block.

    Example context (json):
    {}
}}

<table class="summary-report">
    <thead class="">
    {{#primaryheader}}
        <tr>
            {{#columns}}
                <th colspan="{{colspan}}" class="cell cell-grouping">{{label}}</th>
            {{/columns}}
        </tr>
    {{/primaryheader}}
    {{#secondaryheader}}
        <tr>
            {{#columns}}
                <td colspan="{{colspan}}" class="cell cell-grouping">{{#icon}}{{>core/pix_icon}}{{/icon}}{{label}}</td>
            {{/columns}}
        </tr>
    {{/secondaryheader}}
    </thead>
    <tbody>
    <tr class="">
    </tr>
    </tbody>
</table>

<br>
<table class="summary-report">
    <thead class="">
    <tr>
        <th colspan="4" class="cell cell-grouping">Learner</th>
        <th class="cell cell-grouping">Attendance</th>
        <th colspan="2" class="cell cell-grouping">Planning for Delivery</th>
        <th colspan="2" class="cell cell-grouping">Delivering the Learning Session</th>
        <th colspan="2" class="cell cell-grouping">Prinicples and Theories of Adult Learning</th>
        <th colspan="2"class="cell cell-grouping">Reviewing and Evaluating</th>
        <th class="cell cell-grouping">Final</th>
    </tr>
    <tr>
        <td colspan="2" class="cell"></td>
        <td class="cell cell-learner-field1">ID</td>
        <td class="cell cell-learner-field1">Groups</td>

        <!--<td class="cell item-column-header"><img src="assets/assign/icon.svg" /><a href="#" title="7093 - Assessment and Verification Dropbox Assignment">7093 - Assessment and Verification Dropbox Assignment</a></td>
        <td class="cell item-column-header"><img src="assets/assign/icon.svg" /><a href="#" title="29692 - Assessment and Verification Dropbox Assignment">29692 - Assessment and Verification Dropbox Assignment</a></td>
        <td class="cell item-column-header"><img src="assets/assign/icon.svg" /><a href="#" title="29690 - Assessment and Verification Dropbox Assignment">29690 - Assessment and Verification Dropbox Assignment</a></td>
        <td class="cell item-column-header"><img src="assets/assign/icon.svg" /><a href="#" title="29693 - Assessment and Verification Dropbox Assignment">29693 - Assessment and Verification Dropbox Assignment</a></td>-->

        <td class="cell item-column-header"><img src="assets/attendance/icon.svg" />Sessions attended</td>
        <td class="cell item-column-header"><img src="assets/i/completion-auto-pass.svg" />Activities completed</td>
        <td class="cell item-column-header"><img src="assets/assign/icon.svg" /><a href="#" title="7093 - Assessment and Verification Dropbox Assignment">7093 - Assessment and Verification Dropbox Assignment</a></td>
        <td class="cell item-column-header"><img src="assets/i/completion-auto-pass.svg" />Activities completed</td>
        <td class="cell item-column-header"><img src="assets/assign/icon.svg" /><a href="#" title="29692 - Assessment and Verification Dropbox Assignment">29692 - Assessment and Verification Dropbox Assignment</a></td>
        <td class="cell item-column-header"><img src="assets/i/completion-auto-pass.svg" />Activities completed</td>
        <td class="cell item-column-header"><img src="assets/assign/icon.svg" /><a href="#" title="29690 - Assessment and Verification Dropbox Assignment">29690 - Assessment and Verification Dropbox Assignment</a></td>
        <td class="cell item-column-header"><img src="assets/i/completion-auto-pass.svg" />Activities completed</td>
        <td class="cell item-column-header"><img src="assets/assign/icon.svg" /><a href="#" title="29693 - Assessment and Verification Dropbox Assignment">29693 - Assessment and Verification Dropbox Assignment</a></td>

        <td class="cell item-column-header"><img src="assets/i/completion-auto-pass.svg" />Course completed</td>
    </tr>
    </thead>
    <tbody>
    <tr class="">
        <td class="cell cell-learner">
            <img src="assets/defaultprofileimage.png" class="userpicture defaultuserpic"/>
            Lenny Learner
            <span class="badge badge-danger" title="Withdrawn">W</span>


        </td>
        <td class="cell"><div class="cell-learner--action" title="Exclude learner from export"><i class="fa fa-user-times" aria-hidden="true"></i></div></td>
        <td class="cell"><span class="">2018000</span></td>
        <td class="cell">19-2A</td>

        <td class="cell"><span class="indicator">2/4</span></td>
        <td class="cell">100%</td>
        <td class="cell"><span class="indicator indicator--state-achieved">Achieved</span></td>
        <td class="cell">100%</td>
        <td class="cell"><span class="indicator indicator--state-notachieved">Not achieved</span></td>
        <td class="cell">10%</td>
        <td class="cell"><span class="indicator indicator--state-draft">Draft (not submitted)</span></td>
        <td class="cell"> - </td>
        <td class="cell"><span class="indicator indicator--state-reopened">Reopened</span></td>

        <td class="cell"> 25% </td>
    </tr>
    </tbody>
</table>